html, body {
    margin: 0;
    overflow: scroll;
    height: 100%;
    background-color: lightslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* CANVAS AREA */
#tab {
    float: right;
    width: 950px;
    height: 580px;
    margin: 120px 50px 0px auto;
    background-color: #aaa;
    padding: 20px;
}

#tab #drawingGrid {
    float: right;
}

canvas {
    width: 710px;
    height: 510px;
    margin: 50px 0px 0 -50px;
    display: block;
}

#axisLabel {
    margin: -960px 0 0 -740px;
}

#tab #threshold {
    float: left;
    width: auto;
    max-width: 170px;
    margin: 30px auto 0px 20px;
    padding: 70px 0 45px 0;
}

/* CANVAS CONTROLS */
.graphLabels {
    float: left;
    width: 100px;
    margin: 20px 10px 15px 0;
    font-size: 12px;
    font-weight: bold;
}

.graphValues {
    float: right;
    width: 60px;
    margin: 10px 0px;
}

.threshLabels {
    float: left;
    width: 100px;
    margin: 5px 10px 5px 0;
    font-size: 12px;
    font-weight: bold;
}

.threshValues {
    float: right;
    width: 60px;
    margin: 5px 0px;
}

p {
    margin: 5px 0;
    line-height: 20px;
}

h3 {
    text-align: center;
    margin: -10px 0;
}

h3.thresh {
    margin: 140px 0 0 0;
}

input {
    width: 60px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

button {
    text-align: center;
    font-weight: bold;
}

#changeVals {
    width: 70px;
    height: 25px;
    margin: 0px 0 0 50px;
}

/* TOOL AREA */
#tools {
    margin-left: 350px;
    display: block;
}

label > input{ /* hide radio buttons */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* image style */
  cursor:pointer;
  border:2px outset;
  background-color: #e6e6e6;
}

label > input:checked + img{ /* checked image style */
  border:2px inset;
  background-color: #c6c6c6;
}

img {
    width: 15px;
    height: 15px;
    padding: 5px;
}

/* NAVIGATION BAR */
nav {
    overflow: hidden;
    background-color: #19191f;
    position: fixed; /* fixed position */
    top: 0; /* Position at the top of page */
    width: 100%; /* Full width */
    height: 120px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline-block;
    margin: 82px 33% 0 33%;
}

nav ul li {
    float: left;
    /*margin: 82px 50% 0 0;*/
    padding: 0;
}

nav img {
    float: left;
    margin: 38px 0 23px 40px;
    height: 59px;
    width: 186px;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* SIDEBAR */
/*.sidebar-left {
    text-align: justify;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar-left > p {
    padding: 10px;
    width: 30%;
    max-width: 400px;
}*/

/* GENERAL */
.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

