#myCanvas {
    width: 100%;
    height: 100%;
}

.col-border {
    border: 1px solid #d6d6d6;
}

.col-1 .row {
    height: 50%;
}

div.reduced-padding {
    padding: 0px;
    text-align: center;
    /* border: 2px solid green; */
}

.col.col-6.grid,
.col.col-12.grid,
.col.col-6.grid > input,
.col.col-12.grid > input {
    text-align: center;
}

p, h6 {
    margin-bottom: 0px;
}

/* TABS */


.tab-row {
    border-bottom: 2px solid #d6d6d6;    
}

#tab-col {
    margin-left: 50px; /* line up with grid axis */
    margin-bottom: -2px;
}

.tab-btn {
    border-radius: 4px 4px 0px 0px;
    background-color: #e7e7e7;
    border: 2px solid #c7c7c7; 
    outline: none; 
    cursor: pointer;
    padding: 0px 8px;
    width: 60px;
    height: 24px;
    position: relative;
    z-index: 5;
}

.tab-btn:hover,
.tab-btn:focus,
.tab-btn:active,
.tab-btn.active {
    background-color: white;
    border-bottom: white;    
    outline: none;
}


/* DRAWING BUTTONS */ 

.canvas-col {
    border-right: 2px solid #d6d6d6;
}

.draw-col {
    border-bottom: 2px solid #d6d6d6;    
}

.btn-group-vertical {
    margin-top: 4px;
    margin-bottom: 8px;
}

/* SIGNALS SELECT BOX */ 

/* .sig-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

.sig-col > [class*='col-'] {
    display: flex;
    flex-direction: column;
  } */

.form-group {
    margin-bottom: 0px;
}

#select-signal {
    width: calc(100% - 10px);
    margin: 0px 4px;
    border-color: #d6d6d6;
    border-radius: 4px 4px 0px 0px;
    padding: 4px;
    overflow-y: scroll;
    height: 230px;
    text-align: left;
}

.sig-col .btn {
    width: calc(50% - 4px);
    margin: 0px;
    padding: 4px;
    margin-top: -2px;
    border-radius: 0px;
}

#add-sig {
    margin-right: -3px;
    margin-left: 2px;
}

#rm-sig {
    margin-left: -2px;
}

#collapse-sigs {
    margin-right: -3px;
    margin-left: -1px;
    border-radius: 0px 0px 0px 4px;   
}

#separate-sigs {
    margin-left: -2px;
    border-radius: 0px 0px 4px 0px;        
}

.remove-signal-glyph {
    border: none;
    padding: 0px;
    outline: none;
    background: white;
}

.fa.fa-minus-circle {
    color: red;
    background-color: white;
}

.fa.fa-circle {
    color: white;
    background-color: white;
}

.fa.fa-minus-circle:hover {
    transition: 0.3s;
    behavior:url(-ms-transform.htc);     /* Firefox */
    -moz-transform:rotate(-90deg);     /* Safari and Chrome */
    -webkit-transform:rotate(-90deg);     /* Opera */
    -o-transform:rotate(-90deg);     /* IE9 */
    -ms-transform:rotate(-90deg);     /* IE6,IE7 */
}

/* CONTROLS ROW */ 

.controls-row {
    border-top: 2px solid #d6d6d6;
    text-align: center;
}

.controls-row p {
    text-align: left;
}

.right-side-border {
    border-right: 1px solid #d6d6d6;
}

.stl-buttons {
    padding-top: 26px;
}

.stl-buttons .btn {
    font-size: 14px;
}