/* NAVBAR */ 

.navbar.navbar-inverse {
    top: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: black;
}

nav img {
    float: left;
    margin: 28px -226px 0 40px; /* -226 removes right-side offset for other content */
    height: 59px;
    width: 186px;
}

.nav.navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 67px;
}

.nav.navbar-nav li a {
    display: block;
    width: 60px;
    padding: 6px 10px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: none;
}

.nav.navbar-nav li a:hover, 
.nav.navbar-nav li a:focus,
.nav.navbar-nav li a:active {
    border-top: 6px solid #08ca75;
    padding: 0px 10px 6px;
}

/* TAB */


canvas {
    width: 100%;
    height: 100%;
    /*width: 710px;
    height: 510px;
    margin: 50px 0px 0 -50px;
    display: block;*/
}

/* GENERAL */
.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}