/* NAVBAR */ 
body {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
}

.wrap {
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}

.wrap .container {
    width: 80%;
}

.navbar {
    height: 60px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
    width: 100%;
}

nav .container {
    width: 100%;
    padding: 0px;
}

 nav img {
    text-align: left;
    margin-top: 10px;
    height: 39px;
    width: 123px;
}

.project-name {
    text-align: center;
    font-size: 24px;
    line-height: 110%;
    padding-top: 10px;
}

/* FOOTER */

.footer {
    margin: 20px 0px;
    position: relative;
    clear:both;
    border-top: 1px solid #d7d7d7;
    text-align: center;
}

.footer img {
    margin: 10px 50px;
    max-height: 60px;
    min-height: 30px;
}

.footer p {
    margin: 0px;
}

/* Without this, the square corners of the text editors
in the Specify Pages appear on top of the gray border.
Set to transparent when not being use to error-check */
.row,
.col-1, .col-2, .col-3, 
.col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
    border: 1px solid transparent;
}

