/* NAVBAR */ 

.navbar.navbar-inverse {
    top: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: black;
}

nav img {
    float: left;
    margin: 28px -226px 0 40px; /* -226 removes right-side offset for other content */
    height: 59px;
    width: 186px;
}

.nav.navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 67px;
}

.nav.navbar-nav li a {
    display: block;
    width: 60px;
    padding: 6px 10px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: none;
}

.nav.navbar-nav li a:hover, 
.nav.navbar-nav li a:focus,
.nav.navbar-nav li a:active {
    border-top: 6px solid #08ca75;
    padding: 0px 10px 6px;
}

/* TAB */

canvas {
    width: 100%;
    height: 100%;
}

/* shows borders */
/*.container .row,
.container .col,
.container .col.col-xs-6,
.container .col.col-xs-12 {
    border: 1px solid lightgray;
}*/

.row {
    text-align: center;
}

.row.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row.flex .col.col-xs-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col.col-xs-6,
.col.col-xs-12,
.col.col-xs-6 > input,
.col.col-xs-12 > input {
    text-align: center;
}

.verticaltext {
    position: relative;
    min-width: 150px;
    margin: 87px -5px;
    font-size: 12px;
}

.verticaltext.content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
}
